body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    background-color: darkslategrey;
  }
  
  h1 {
    text-align: center;
    font-size: 3rem;
    color: rgb(46, 42, 42);
  }
  .container {
    margin: 0 auto;
    padding: 20px;
    width: 900px;
    background-color: rgb(170, 170, 170);
  }
  .container .buttons {
    display: flex;
    justify-content: space-around;
    width: 100%;
  }
  
  .container .buttons button {
    width: 150px;
    height: 60px;
    background: rgb(46, 49, 46);
    font-size: 2rem;
    color: rgb(126, 103, 77);
  }
  
  .container .screen {
    display: grid;
    width: 800px;
    height: 800px;
    border: 5px solid rgb(155, 158, 155);
    margin: 20px auto;
  }